@import "../../App.module";
.AppContainer{
    background-color : $mainDarkGrayColor ;
    height : 100vh ;
    position : relative ;
    display : flex ;
    align-items : center ;
    justify-content : center ;
    &:before{
        content : "" ;
        width: 100% ;
        top : 0px ;
        height : 125px ;
        position : absolute;
        background-color : $mainDarkGreenColor ;
    }
}