.MessagesPanel{
    position  : absolute ;
    min-height: 95%;
    min-width :75% ;
    background-color : #fff ;
    overflow: hidden;
    @media (max-width:1211px) {
        width: 100% ;
    }
    @media (max-width:609px) {
        height : 100%;
    }
}