.HeaderContainer{
    background-color :#EDEDED ;
    padding : 20px 10px ;
    display : flex ;
    align-items :center ;
    justify-content: space-between;
    color : #919191 ;
    .ProfileImage{
        max-height : 40px ;
        cursor : pointer ;
        border-radius : 50% ;
    }
    .ButtonsContainer{
        min-width : 50% ;
        display : flex ;
        justify-content: space-evenly ;
    }
}