.ContactsContainer{
    min-width : 30% ;
    height : 100% ;
    position : absolute ;

    @media (max-width:1058px) {
        width: 35% ;
    }
    @media (max-width:702px) {
        width:40% ;
    }
}   