.ContactsList {
    border-right : solid 2px rgba(0,0,0,.2)  ;
    overflow: auto ;
    height :84%;
    max-height : 80vh ;
    top : 0px ;
    &::-webkit-scrollbar{
        width : 6px ;
    }
    &::-webkit-scrollbar-thumb{
        background-color : rgba(0,0,0,.2) ;
    }
    &::-webkit-scrollbar-track {
        background: hsla(0,0%,100%,.1);
    }
    ul {
        padding: 0px;
        li {
            padding-bottom: 10px  ;
            border-bottom : solid 2px #ebebeb ;
            display : flex ;
            justify-content : space-between ;
            cursor: pointer;
            padding : 10px;
            p{
                clear: both ;
                margin-bottom : 0px ;
                .ProfileImage{
                    border-radius : 50% ;
                    max-height : 50px ;
                    min-width : 50px ;
                    float : left ;
                    margin-right : 10px;
                }
                span{
                    i{
                        font-size : 12px !important;
                    }
                }
            }
            &:hover{
                background-color : #ebebeb ;
            }
        }
    }
}